[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#pip = "*"
pytest = "*"
pytest-icdiff = "*"
bokeh = "*"
jupyter = "*"
jupyterlab = "*"#"==1.1.3"
pywin32 = "==224"



[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
opencv-contrib-python = "*"
coloredlogs = "*"
pandas = "*"
tqdm = "*"
requests = "*"
imutils = "*"
rx = ">=3.0.0b4"
seaborn = "*"
pyarrow = "*"
sklearn = "*"
dtw = "*"
holoviews = "*"
labelimg = "*"
streamlit= "*"
grpcio = "*"
grpcio-tools = "*"

[requires]
python_version = "3.9"
#ipython kernel install --name "Traffic" --user
#jupyter kernelspec list
# If on windows, the python that runs lab should not have pywin32==225 - its breaking the notebook
#pip install --upgrade pywin32==224
