[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-icdiff = "*"
jupyterlab = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
coloredlogs = "*"
pandas = "*"
tqdm = "*"
requests = "*"
imutils = "*"
pytest = "*"
opencv-contrib-python = "*"
pip = "*"
rx = "==3.0.0b4"
pytest-icdiff = "*"

[requires]
python_version = "3.6"
