[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-icdiff = "*"
jupyterlab = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
coloredlogs = "*"
pandas = "*"
tqdm = "*"
requests = "*"
imutils = "*"


[requires]
python_version = "3.6"
